<li class="nav-item pcoded-menu-caption">
	<label>Dashboard</label>
</li>
<li class="nav-item"><a href="adm-dashboard.html" class="nav-link "><span class="pcoded-micon"><i class="fas fa-tachometer-alt"></i></span><span class="pcoded-mtext">Dashboard</span></a></li>
<li class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fas fa-user-tie"></i></span><span class="pcoded-mtext">Clients</span></a>
	<ul class="pcoded-submenu">
		<li><a href="adm-client-card.html">Card</a></li>
		<li><a href="adm-client-list.html">List</a></li>
		<li><a href="adm-client-details.html">Details</a></li>
	</ul>
</li>
<li class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fas fa-users"></i></span><span class="pcoded-mtext">Teams</span></a>
	<ul class="pcoded-submenu">
		<li><a href="adm-teams-card.html">Card</a></li>
		<li><a href="adm-teams-list.html">List</a></li>
		<li><a href="adm-teams-details.html">Details</a></li>
	</ul>
</li>
<li class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fas fa-user-circle"></i></span><span class="pcoded-mtext">Users</span></a>
	<ul class="pcoded-submenu">
		<li><a href="adm-users-card.html">Card</a></li>
		<li><a href="adm-users-list.html">List</a></li>
		<li><a href="adm-users-details.html">Details</a></li>
	</ul>
</li>
<li class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fas fa-gift"></i></span><span class="pcoded-mtext">Projects</span></a>
	<ul class="pcoded-submenu">
		<li><a href="adm-projects-card.html">Card</a></li>
		<li><a href="adm-projects-list.html">List</a></li>
		<li><a href="adm-projects-details.html">Details</a></li>
	</ul>
</li>
<li class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fas fa-sitemap"></i></span><span class="pcoded-mtext">Integrations</span></a>
	<ul class="pcoded-submenu">
		<li><a href="adm-integrations-card.html">Card</a></li>
		<li><a href="adm-integrations-list.html">List</a></li>
		<li><a href="adm-integrations-details.html">Details</a></li>
	</ul>
</li>
<li class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fas fa-file-invoice"></i></span><span class="pcoded-mtext">Files</span></a>
	<ul class="pcoded-submenu">
		<li><a href="adm-files-card.html">Card</a></li>
		<li><a href="adm-files-list.html">List</a></li>
	</ul>
</li>
<li class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fas fa-address-card"></i></span><span class="pcoded-mtext">Profile</span></a>
	<ul class="pcoded-submenu">
		<li><a href="adm-profile-public.html">Profile</a></li>
		<li><a href="adm-profile-edit.html">Edit</a></li>
		<li><a href="adm-profile-conversations.html">Conversations</a></li>
		<li><a href="adm-profile-inbox.html">Inbox</a></li>
	</ul>
</li>
<li class="nav-item">
	<a href="adm-tasks.html" class="nav-link "><span class="pcoded-micon"><i class="fas fa-clipboard-list"></i></span><span class="pcoded-mtext">Tasks</span></a>
</li>
<li class="nav-item pcoded-menu-caption">
	<label>Navigation</label>
</li>
<li class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fas fa-box"></i></span><span class="pcoded-mtext">Page layouts</span></a>
	<ul class="pcoded-submenu">
		<li><a href="layout-vertical.html" target="_blank">Vertical</a></li>
		<li><a href="layout-horizontal.html" target="_blank">Horizontal</a></li>
	</ul>
</li>
<li class="nav-item pcoded-menu-caption">
	<label>Application</label>
</li>
<li class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fas fa-file-invoice-dollar"></i></span><span class="pcoded-mtext">Invoice</span></a>
	<ul class="pcoded-submenu">
		<li><a href="adm-invoice.html">Invoice</a></li>
		<li><a href="adm-invoice2.html">Invoice 2</a></li>
		<li><a href="adm-invoice-summary.html">Invoice Summary</a></li>
		<li><a href="adm-invoice-list.html">Invoice List</a></li>
	</ul>
</li>
<li class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fas fa-envelope-open-text"></i></span><span class="pcoded-mtext">Email</span></a>
	<ul class="pcoded-submenu">
		<li><a href="adm-em-inbox.html">Inbox</a></li>
		<li><a href="adm-em-read.html">Read Mail</a></li>
		<li><a href="adm-em-compose.html">Compose Mail</a></li>
	</ul>
</li>
<li class="nav-item pcoded-menu-caption">
	<label>Pages</label>
</li>
<li class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fas fa-fingerprint"></i></span><span class="pcoded-mtext">Authentication</span></a>
	<ul class="pcoded-submenu">
		<li><a href="auth-login1.html" target="_blank">Log in 1</a></li>
		<li><a href="auth-login2.html" target="_blank">Log in 2</a></li>
		<li><a href="auth-login3.html" target="_blank">Log in 3</a></li>
		<li><a href="auth-login4.html" target="_blank">Log in 4</a></li>
		<li><a href="auth-login5.html" target="_blank">Log in 5</a></li>
		<li><a href="auth-resetpassword1.html" target="_blank">Reset Password 1</a></li>
		<li><a href="auth-resetpassword2.html" target="_blank">Reset Password 2</a></li>
		<li><a href="auth-signup1.html" target="_blank">Sign up 1</a></li>
		<li><a href="auth-signup2.html" target="_blank">Sign up 2</a></li>
		<li><a href="auth-signup3.html" target="_blank">Sign up 3</a></li>
		<li><a href="auth-signup4.html" target="_blank">Sign up 4</a></li>
		<li><a href="auth-signup5.html" target="_blank">Sign up 5</a></li>
	</ul>
</li>
<li class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fas fa-paint-roller"></i></span><span class="pcoded-mtext">Maintenance</span></a>
	<ul class="pcoded-submenu">
		<li><a href="mat-comingsoon.html" target="_blank">Coming Soon</a></li>
		<li><a href="mat-error.html" target="_blank">Error 404</a></li>
		<li><a href="mat-offline.html" target="_blank">Offline</a></li>
	</ul>
</li>
<li class="nav-item pcoded-menu-caption">
	<label>Other</label>
</li>
<li class="nav-item pcoded-hasmenu">
	<a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-list-alt"></i></span><span class="pcoded-mtext">Menu levels</span></a>
	<ul class="pcoded-submenu">
		<li><a href="#">Menu Level 2.1</a></li>
		<li class="pcoded-hasmenu">
			<a href="#">Menu level 2.2</a>
			<ul class="pcoded-submenu">
				<li><a href="#">Menu level 3.1</a></li>
				<li><a href="#">Menu level 3.2</a></li>
			</ul>
		</li>
	</ul>
</li>
<li class="nav-item disabled"><a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fas fa-power-off"></i></span><span class="pcoded-mtext">Disabled menu</span></a></li>
<li class="nav-item"><a href="sample-page.html" class="nav-link "><span class="pcoded-micon"><i class="fas fa-desktop"></i></span><span class="pcoded-mtext">Sample page</span></a></li>
<li class="nav-item pcoded-hasmenu">
	<a href="#" class="nav-link"><span class="pcoded-mtext">Menu levels</span></a>
	<ul class="pcoded-submenu">
		<li><a href="#">Menu Level 2.1</a></li>
		<li class="pcoded-hasmenu">
			<a href="#">Menu level 2.2</a>
			<ul class="pcoded-submenu">
				<li><a href="#">Menu level 3.1</a></li>
				<li><a href="#">Menu level 3.2</a></li>
			</ul>
		</li>
	</ul>
</li>
